<html lang="ja">

<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>♪Web Tone♪ 登録完了</title>
</head>

<body>
    <img src="/img/webtone_logo.png"  width="127" height="66"/>
    <p class="base">Web Tone 第{{id}}番が登録されました！</p>
    <p class="base">{{tone}}</p>
    <p id="credit">Web Tone ~みんなで鳴らすオルゴール~</p>
</body>

</html>